name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Add remote host to known hosts
      run: |
        echo "Adding remote host to known_hosts..."
        mkdir -p ~/.ssh
        ssh-keyscan -H 34.16.197.241 >> ~/.ssh/known_hosts
        cat ~/.ssh/known_hosts
      shell: bash

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Test SSH connection
      run: |
        echo "Testing SSH connection..."
        ssh -vvv -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no your_username@34.16.197.241 "echo SSH connection successful"
      shell: bash

    - name: Install Ansible
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: Run Ansible Playbook
      run: ansible-playbook -i inventory.ini playbook.yml
      shell: bash
